---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";
import FeaturedProjectCarousel from "../components/FeaturedProjectCarousel.astro";

const projects = await getCollection("projects");

const featuredProjectSlugs = [
    "crimson-knight",
    "relict",
    "lutr",
];

const featuredProjects = featuredProjectSlugs
    .map((slug) => projects.find((project) => project.data.slug === slug))
    .filter((project) => project !== undefined);
---

<Layout title="Game Dev Portfolio">
    <main class="page">

        <FeaturedProjectCarousel projects={featuredProjects} />

        <section>
            <h2>Projects</h2>

            <div class="project-grid">
                {projects.map((project) => (
                        <a class="game-card" href={`/projects/${project.data.slug}/`}>
                            <img src={project.data.coverImage} alt={`${project.data.title} thumbnail`} />

                            <div class="game-card-content">
                                <h3>{project.data.title}</h3>
                                <p>{project.data.description}</p>
                                <span>{project.data.engine}</span>
                            </div>
                        </a>
                ))}
            </div>
        </section>
    </main>
</Layout>